<%= form_with model: @album, url: albums_path, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, id:"title" %>
  </div>

  <div class="field">
    <%= f.label :category, "カテゴリー" %><br />
    <%= f.text_field :category, class: :form__text, id:"category" %>
  </div>

  <div class="field">
    <%= f.label :album_image, "表紙の画像" %><br />
    <div id="previews"></div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :album_image, id:"album_image" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>