<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">アルバム編集</h2>
      <%= form_with model: @album, url: album_path, local: true do |f|%>
        <div class="field">
          <%= f.label :title, "タイトル" %><br />
          <%= f.text_field :title, class: :form__text, id:"title" %>
        </div>

        <div class="field">
          <%= f.label :category, "カテゴリー" %><br />
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
        </div>

        <div class="field">
          表紙の画像
          <div id="previews"></div>
            <div class="click-upload">
              <%= f.label :title, "クリックしてファイルをアップロード" %><br />
              <%= f.file_field :album_image, class: :form__text, id:"album_image" %>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "保存する", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>