<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>
        <%= link_to current_user.nickname, users_show_path, class: :greeting__link %>
        <%= "さん" %>
      </div>
      <div class="flash">
        <%= notice %>
      </div>
      <div class="card__wrapper">
        <%= render partial: "album", collection: @albums %>
      </div>
    <% else %>
      <div class="explain">
        <p>我が家のアイドル、ペットたちの写真をアルバムとしてデータ管理、家族や仲間とシェアしよう！</p>
        <p>必要なのは素敵な写真とシンプルなメモだけ。</p>
        <%= image_tag("cat_nekoko_hansei.png", class: :example) %>
        <%= image_tag("onsen_animal.png", class: :example) %>
        <%= image_tag("speed_slow_turtle.png", class: :example) %>
      </div>
    <% end %>
  </div>
</main>