<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>
        <%= link_to current_user.nickname, users_show_path, class: :greeting__link %>
        <%= "さん" %>
      </div>
      <div class="flash">
        <%= notice %>
      </div>
      <div class="card__wrapper">
        <%= render partial: "album", collection: @albums %>
      </div>
    <% end %>
  </div>
</main>