<main class="main">
  <div class="inner">
    <div class="album__wrapper">
      <div class="album__detail">
        <p class="category">
          カテゴリー  <%= @album.category %>
        </p>
        <p class="album__title">
          <%= @album.title %>
        </p>
        <%= link_to "by #{@album.user.nickname}", root_path, class: :album__user %>
        <div class="album__image">
          <%= image_tag @album.album_image %>
        </div>
        <% if @album.user == current_user %>
          <div class="album__manage">
            <%= link_to "投稿する", new_album_photo_path(@album), class: :album__btn %>
            <%= link_to "編集する", edit_album_path, class: :album__btn %>
            <%= link_to "削除する", root_path, class: :album__btn %>
          </div>
        <% end %>
        <div class="photo">
          <% @photos.each do |photo| %>
            <div class = "photo__card">
              <%= link_to image_tag(photo.image.variant(resize: '200x200')), root_path %>
              <div class="photo__body">
                <%= link_to photo.memo, root_path, class: :photo__title %>
                <%= link_to image_tag("gomibako.png", class: :photo__delete), album_photo_path(photo) %>
              </div>
              <%= link_to photo.date, root_path, class: :photo__user %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
